Anydesk id= 602020057
Anydesk_pasword=

Console sign-in URL=https://343104031497.signin.aws.amazon.com/console

User name=RDK_User

Console password=

Access key=

Secret access key=

AWS_API_Key= 
Command=export AWS_BEARER_TOKEN_BEDROCK=


#HTTPS Git credentials for AWS CodeCommit
User name=API-User-at-343104031497
Password=

#SSH public keys for AWS CodeCommit
SSH Key ID=